VITE_API_BASE_URL=http://localhost:8080
VITE_MAP_TILE_URL=https://maps.geoapify.com/v1/tile/carto/{z}/{x}/{y}.png?&apiKey=YOUR_GEOAPIFY_API_KEY
VITE_MAP_TILE_ATTRIBUTION=&copy; OpenStreetMap contributors &copy; Geoapify
VITE_GEOAPIFY_API_KEY=YOUR_GEOAPIFY_API_KEY
